	body{
		margin: 0;
		background: #222B2A;
	}

	::-webkit-scrollbar {
		width: 0px;	
		
	}	

	.up_panel{
		background:#DA3D24;
		margin: 0;
		border-radius: 10px;
	
	}

	#fti{
		margin-top: 0;
		height: 55px;
		font-size: 300%;
		color: #222B2A;
		font-family: Trattatello, fantasy;
		letter-spacing: 7px;
	}

	.button_m{
		margin-top: -68px;
		margin-bottom: 70px;
		margin-left: 1300px;
		margin-right: 130px;
		text-decoration: none;
	}

	#button{
		padding: 12px 50px;
		background-color: #DA3D24;
    	color:#fff;
    	border: 3px solid #fff;	
    	text-decoration: none;
    	border-radius: 25px;
    	transition: .3s;
	}

	#button:hover{
		background-color: #222B2A;
      	color: white;
	}
		
	.main_block{
		background:#DA3D24;
		width: 1400px;
		height: 400px;
		margin-top: 20px;
		margin-left: 75px;
		border-radius: 25px;
	}

	#history_pic{
		border: 10px solid #222B2A;
		margin-left: 4%;
		margin-top: 3%;
		border-radius: 25px;
	}

	#intro_text{
		color: #fff;
		line-height: 1.4;
		margin-left: 550px;
		margin-top: -330px;
		font-family: Geneva, Arial, Helvetica, sans-serif;
	}

	.history_block{
		width: 1400px;
		background: #DA3D24;
		height: 860px;
		margin-bottom: 20px;
		margin-top: 60px;
		margin-left: 75px;
		border-radius: 25px;
		padding-top: 3px;
	}

	#title_h{
		margin-left: 25%;
		margin-top: 50px;
		color: #222B2A;
		font-family: Trattatello, fantasy;
		letter-spacing: 7px;
		font-size: 50px;
	}

	#history_pic_2{
		border: 10px solid #222B2A;
		margin-left: 65%;
		border-radius: 25px;
		margin-top: 30px;
	}

	#h_b1{
		font-family: Geneva, Arial, Helvetica, sans-serif;
		margin-left: 55px;
		margin-right: 500px;
		margin-top: -320px;
		font-size: 22px;
		color: #fff;
	}

	#h_b2{
		font-family: Geneva, Arial, Helvetica, sans-serif;
		margin-left: 55px;
		margin-top: -320px;
		margin-right: 500px;
		font-size: 22px;
		color: #fff;
	}
	
	.grad_1{
		background: #DA3D24;
		margin-top: 100px;
		width: 650px;
		height: 600px;
		margin-left: 75px;
		padding-top: 1px;
		border-radius: 25px;
		color: #fff;
	}

	.grad_2{
		background: #DA3D24;
		margin-top: -600px;
		width: 655px;
		height: 570px;
		margin-left: 825px;
		padding-top: 30px;
		margin-bottom: 40px;
		border-radius: 25px;
		color: #fff;
	}

	#gradlist_1{
		font-family: Geneva, Arial, Helvetica, sans-serif;
		margin-left: 150px;
		margin-top: 40px;
		font-size: 40px;
	}

	#gradlist_1_1{
		font-size: 40px;
		margin-left: 100px;
		font-family: Geneva, Arial, Helvetica, sans-serif;
	}

	#gradlist_2{
		font-family: Geneva, Arial, Helvetica, sans-serif;
		margin-left: 150px;
		margin-top: 0px;
		font-size: 40px;
	}

	#gradlist_2_1{
		font-size: 40px;
		margin-left: 100px;
		font-family: Geneva, Arial, Helvetica, sans-serif;
	}

	#video{
		margin-left: 62px;
		border-radius: 25px;
		border: 15px solid #DA3D24;
	}

	.down_panel{
		width: 50%;
		height: 100px;
		background: #fff;
		margin-top: 60px;
		margin-left: 25%;
		border-radius: 25px 25px 0px 0px;
		background: #DA3D24;
	}

	#tel{
		text-decoration: none;
		font-size: 85px;
		margin-left: 18%;
		font-family: Trattatello, fantasy;
		letter-spacing: 20px;
		color: #222B2A;
	}